<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--将userSer-->
<bean id="userService" class="com.imooc.ioc.demo1.userServimipl">
    <property name="name" value="李四"/>
    <property name="idno" value="李四"/>
</bean>

    <bean id="food" class="com.imooc.ioc.demo1.Foodimpl">
        <property name="name" value="食品名称"/>
        <property name="taste" value="口味"/>
        <property name="kind" value="种类"/>
    </bean>
</beans>